.card__delete-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  border: none;
  background-color: rgba(198, 198, 198, 0.5);
  background-image: url(../../../images/btn-trash.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 19px;
  cursor: pointer;
  border-radius: 3px;
  opacity: 1;
  transition: opacity .2s linear;
}

.card__delete-button:hover {
  opacity: .7;
<<<<<<< HEAD
}

/* TODO доделать кнопку удаления (сделать фон)*/
=======
}
>>>>>>> dev
