.popup__btn-cls {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/btn-cls.svg);
  background-position: center;
  background-size: cover;
  background-color: transparent; /* прозрачный фон кнопки */
  border: 0;
}

@media (width < 530px) {
  .popup__btn-cls {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}