.card__photo {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.card__photo:hover {
  opacity: .7;
}

@media (width <=600px) {
  .card__photo {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}