.gallery__item {
  overflow: hidden;
  height: 361px;
  border-radius: 10px;
  background-color: #fff;
}

@media (width <= 600px) {
  .gallery__item {
    margin: 0 auto 20px;
  }

  .gallery__item:last-child {
    margin: 0 auto;
  }
}