.header {
  max-width: 900px;
  height: 74px;
  margin: 0 auto;
  padding: 45px 10px 0;
}

@media (768px <= width <= 024px) {
  .header {
    padding: 35px 10px 0;
  }
}

@media (530px <= width < 768px) {
  .header {
    padding: 25px 10px 0;
  }
}

@media (width < 530px) {
  .header {
    padding: 15px 0 0;
  }
}