.header {
  max-width: 900px;
  height: 74px;
  margin: 0 auto;
  padding: 45px 10px 0;
  border-bottom: 1px solid #545454;
}

@media (768px <=width <=1024px) {
  .header {
    padding: 35px 10px 0;
  }
}

@media (425px <=width < 768px) {
  .header {
    padding: 25px 10px 0;
  }
}

@media (width < 425px) {
  .header {
    padding: 15px 10px 0;
  }
}