.profile__button-add {
  height: 50px;
  margin: 0 0 0 auto;
  background-image: url("/../../../../images/btn-add.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: #000;
  border-radius: 2px;
  width: 150px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.profile__button-add:hover {
  opacity: .7;
}

@media (width <=768px) {
  .profile__button-add {
    width: 100%;
  }
}