.galery__item-like-btn {
  width: 24px;
  height: 19px;
  border: none;
  background-color: #fff;
  background-image: url(./../../../images/like-btn.svg);
  background-repeat: no-repeat;
  padding: 0;
}