.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
  text-align: center;
  font-size: 70px;
}

.profile__photo:hover {
  opacity: .7;
}

@media (width < 530px) {
  .profile__photo {
    margin: 0 auto 26px;
  }
}